# Exploratory

[See project](/home/gera/Documentos/Proyectos/portfolio/credit_prediction/docs/project_details.ipynb)
<hr/>

Exploratorio
1. Importar las librerías necesarias para el exploratorio.
2. Importar el csv en el que se encuentra el set de datos.
3. Usar las funciones necesarias para explicar el contenido del set de datos (¿de qué son los datos?
¿Qué significan? ¿Qué información hay en cada columna?)
4. ¿Cuáles variables tienen datos numéricos y cuáles categóricos?
5. ¿Qué datos tienen las variables categóricas? Describir las columnas numéricas (media,
percentiles)
6. ¿Alguna variable tienen NaNs, valores incompletos o ceros excesivos? ¿Cómo resolvería cada
caso?
<hr/>

1. Importar las librerías necesarias para el exploratorio.

In [2]:
# Libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.close("all")

import seaborn as sns

2. Importar el csv en el que se encuentra el set de datos.

In [3]:
df_raw = pd.read_csv('../data/raw/Dataset_ejercicio.csv')

Usar las funciones necesarias para explicar el contenido del set de datos (¿de qué son los datos?¿Qué significan? ¿Qué información hay en cada columna?)

In [6]:
df_raw.dtypes

Unnamed: 0            int64
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure              float64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [8]:
# TotalCharges must be float64
df_raw['TotalCharges'] = pd.to_numeric(df_raw['TotalCharges'], errors='coerce')

In [10]:
df_raw.dtypes

Unnamed: 0            int64
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure              float64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [11]:
# number of columns
print(f'The dataframe contains {df_raw.shape[1]} columns and {df_raw.shape[0]} rows')
# number of categorical columns
print(f'Object format columns are: \n {df_raw.select_dtypes(include=object).columns.tolist()}')
# number of numeric columns
print(f'Numeric format columns are: \n {df_raw.select_dtypes(include=np.number).columns.tolist()}')
# number of nan/null
print(f'The dataframe contains NaN values: \n {df_raw.isnull().count()}')

# MISMA CANTIDAD DE NÚMEROS QUE DE NAN, RAAAARO

The dataframe contains 22 columns and 7043 rows
Object format columns are:
 ['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']
Numeric format columns are:
 ['Unnamed: 0', 'SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']
The dataframe contains NaN values:
 Unnamed: 0          7043
customerID          7043
gender              7043
SeniorCitizen       7043
Partner             7043
Dependents          7043
tenure              7043
PhoneService        7043
MultipleLines       7043
InternetService     7043
OnlineSecurity      7043
OnlineBackup        7043
DeviceProtection    7043
TechSupport         7043
StreamingTV         7043
StreamingMovies     7043
Contract            7043
PaperlessBilling    7043
PaymentMethod       7043
MonthlyCharges      7043
TotalCharges        7043
Churn               7043
dtype: int64

In [12]:
df_raw.sample(5)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
188,188,0956-SYCWG,Female,0,No,No,13.0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,One year,No,Electronic check,19.65,244.80,No
2899,2899,6164-HAQTX,Male,0,No,No,71.0,No,No phone service,DSL,...,Yes,Yes,Yes,No,Two year,No,Bank transfer (automatic),53.95,3888.65,No
1379,1379,0562-KBDVM,Female,0,No,No,70.0,No,NaN,DSL,...,Yes,Yes,No,No,Two year,Yes,Bank transfer (automatic),44.60,3058.15,No
5085,5085,7074-STDCN,Male,0,No,No,39.0,No,No phone service,DSL,...,No,Yes,No,Yes,Month-to-month,Yes,Electronic check,40.60,1494.50,No
5987,5987,1099-GODLO,Female,0,Yes,Yes,1.0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.35,20.35,No

In [13]:
mask = df_raw.isnull() == True
df_raw[mask]

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_raw.dropna(axis=0, how='any', inplace= True)
df_raw.isnull().sum()

Unnamed: 0          0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [15]:
mask2 = df_raw.notnull()
df_churn = df_raw[mask2]

In [16]:
df_churn.sample(5)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
759,759,5684-FJVYR,Female,0,Yes,Yes,72.0,Yes,Yes,Fiber optic,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),90.35,6563.40,No
5278,5278,1061-PNTHC,Female,0,Yes,Yes,56.0,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Mailed check,109.60,5953.00,No
23,23,3638-WEABW,Female,0,Yes,No,58.0,Yes,Yes,DSL,...,No,Yes,No,No,Two year,Yes,Credit card (automatic),59.90,3505.10,No
2107,2107,7422-WNBTY,Male,0,Yes,No,33.0,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,93.35,3092.00,No
3053,3053,0960-HUWBM,Male,0,Yes,Yes,65.0,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),104.10,6700.05,No

In [17]:
df_churn.to_csv('../data/preprocessed/churn_preprocessed.csv')