# Exploratory

[See project](/home/gera/Documentos/Proyectos/portfolio/credit_prediction/docs/project_details.ipynb)
<hr/>

Exploratorio
1. Importar las librerías necesarias para el exploratorio.
2. Importar el csv en el que se encuentra el set de datos.
3. Usar las funciones necesarias para explicar el contenido del set de datos (¿de qué son los datos?
¿Qué significan? ¿Qué información hay en cada columna?)
4. ¿Cuáles variables tienen datos numéricos y cuáles categóricos?
5. ¿Qué datos tienen las variables categóricas? Describir las columnas numéricas (media,
percentiles)
6. ¿Alguna variable tienen NaNs, valores incompletos o ceros excesivos? ¿Cómo resolvería cada
caso?

In [1]:
# Libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.close("all")

import seaborn as sns

Raw data connections

In [3]:
df_raw = pd.read_csv('../data/raw/Dataset_ejercicio.csv')

In [6]:
df_raw.dtypes

Unnamed: 0            int64
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure              float64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [8]:
df_raw.sample(5)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
376,376,6158-HDPXZ,Male,0,No,No,1.0,No,No phone service,DSL,...,No,No,No,No,Month-to-month,No,Mailed check,25.35,25.35,No
1311,1311,3941-XTSKM,Male,0,Yes,Yes,42.0,No,NaN,DSL,...,Yes,No,No,Yes,One year,Yes,Credit card (automatic),45.10,2049.05,No
2664,2664,6242-SGYTS,Male,0,Yes,Yes,62.0,Yes,Yes,Fiber optic,...,No,No,Yes,No,One year,Yes,Credit card (automatic),94.95,5791.85,No
4622,4622,8705-DWKTI,Male,0,No,No,52.0,Yes,No,Fiber optic,...,Yes,No,No,Yes,Month-to-month,Yes,Credit card (automatic),83.80,4331.4,No
512,512,5956-VKDTT,Female,1,Yes,No,5.0,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,334.8,Yes

In [ ]:
# number of columns
# number of categorical columns
# number of numeric columns
# number of nan/null