# Exploratory

[See project](/home/gera/Documentos/Proyectos/portfolio/credit_prediction/docs/project_details.ipynb)
<hr/>

Exploratorio
1. Importar las librerías necesarias para el exploratorio.
2. Importar el csv en el que se encuentra el set de datos.
3. Usar las funciones necesarias para explicar el contenido del set de datos (¿de qué son los datos?
¿Qué significan? ¿Qué información hay en cada columna?)
4. ¿Cuáles variables tienen datos numéricos y cuáles categóricos?
5. ¿Qué datos tienen las variables categóricas? Describir las columnas numéricas (media,
percentiles)
6. ¿Alguna variable tienen NaNs, valores incompletos o ceros excesivos? ¿Cómo resolvería cada
caso?
<hr/>

1. Importar las librerías necesarias para el exploratorio.

In [1]:
# Libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.close("all")

import seaborn as sns

2. Importar el csv en el que se encuentra el set de datos.

In [2]:
df_raw = pd.read_csv('../data/raw/Dataset_ejercicio.csv')

Usar las funciones necesarias para explicar el contenido del set de datos (¿de qué son los datos?¿Qué significan? ¿Qué información hay en cada columna?)

In [3]:
df_raw.dtypes

Unnamed: 0            int64
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure              float64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [35]:
# number of columns
print(f'The dataframe contains {df_raw.shape[1]} columns and {df_raw.shape[0]} rows')
# number of categorical columns
print(f'Object format columns are: \n {df_raw.select_dtypes(include=object).columns.tolist()}')
# number of numeric columns
print(f'Numeric format columns are: \n {df_raw.select_dtypes(include=np.number).columns.tolist()}')
# number of nan/null
print(f'The dataframe contains NaN values: \n {df_raw.isnull().count()}')

# MISMA CANTIDAD DE NÚMEROS QUE DE NAN, RAAAARO

The dataframe contains 22 columns and 6041 rows
Object format columns are:
 ['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges', 'Churn']
Numeric format columns are:
 ['Unnamed: 0', 'SeniorCitizen', 'tenure', 'MonthlyCharges']
The dataframe contains NaN values:
 Unnamed: 0          6041
customerID          6041
gender              6041
SeniorCitizen       6041
Partner             6041
Dependents          6041
tenure              6041
PhoneService        6041
MultipleLines       6041
InternetService     6041
OnlineSecurity      6041
OnlineBackup        6041
DeviceProtection    6041
TechSupport         6041
StreamingTV         6041
StreamingMovies     6041
Contract            6041
PaperlessBilling    6041
PaymentMethod       6041
MonthlyCharges      6041
TotalCharges        6041
Churn               6041
dtype: int64

In [29]:
df_raw.sample(5)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
3912,3912,3882-IYOIJ,Female,0,Yes,Yes,60.0,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),115.25,6758.45,No
6120,6120,6218-KNUBD,Male,0,No,No,6.0,Yes,No,DSL,...,No,No,Yes,No,Month-to-month,No,Electronic check,59.45,357.6,No
6049,6049,7634-HLQJR,Female,0,Yes,Yes,47.0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),20.05,1016.7,No
5442,5442,2481-SBOYW,Female,0,No,Yes,61.0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),25.00,1498.35,No
2272,2272,8064-RAVOH,Male,0,No,Yes,1.0,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,49.85,49.85,No

In [4]:
mask = df_raw.isnull() == True
df_raw[mask]

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df_raw.dropna(axis=0, how='any', inplace= True)
df_raw.isnull().sum()

Unnamed: 0          0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [6]:
mask2 = df_raw.notnull()
df_churn = df_raw[mask2]

In [9]:
df_churn.sample(5)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
3316,3316,9139-TWBAS,Female,0,Yes,No,26.0,No,No phone service,DSL,...,Yes,No,Yes,No,One year,No,Bank transfer (automatic),47.85,1190.5,No
2594,2594,3096-YXENJ,Female,0,Yes,No,65.0,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),107.65,7082.85,No
2496,2496,2333-KWEWW,Male,0,No,No,18.0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),20.05,388.6,No
1506,1506,8819-WFGGJ,Male,0,Yes,No,68.0,No,NaN,DSL,...,Yes,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),54.10,3794.5,No
592,592,0459-SPZHJ,Male,0,Yes,Yes,63.0,Yes,Yes,DSL,...,Yes,No,Yes,Yes,Two year,No,Credit card (automatic),83.50,5435,No

In [10]:
df_churn.to_csv('../data/preprocessed/churn_preprocessed.csv')