# Exploratory

[See project](/home/gera/Documentos/Proyectos/portfolio/credit_prediction/docs/project_details.ipynb)
<hr/>

Exploratorio
1. Importar las librerías necesarias para el exploratorio.
2. Importar el csv en el que se encuentra el set de datos.
3. Usar las funciones necesarias para explicar el contenido del set de datos (¿de qué son los datos?
¿Qué significan? ¿Qué información hay en cada columna?)
4. ¿Cuáles variables tienen datos numéricos y cuáles categóricos?
5. ¿Qué datos tienen las variables categóricas? Describir las columnas numéricas (media,
percentiles)
6. ¿Alguna variable tienen NaNs, valores incompletos o ceros excesivos? ¿Cómo resolvería cada
caso?
<hr/>

1. Importar las librerías necesarias para el exploratorio.

In [1]:
# Libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.close("all")

import seaborn as sns

2. Importar el csv en el que se encuentra el set de datos.

In [2]:
df_raw = pd.read_csv('../data/raw/Dataset_ejercicio.csv')

Usar las funciones necesarias para explicar el contenido del set de datos (¿de qué son los datos?¿Qué significan? ¿Qué información hay en cada columna?)

In [3]:
df_raw.dtypes

Unnamed: 0            int64
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure              float64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [4]:
# TotalCharges must be float64
df_raw['TotalCharges'] = pd.to_numeric(df_raw['TotalCharges'], errors='coerce')
df_raw['SeniorCitizen'] = df_raw['SeniorCitizen'].astype('str')

In [31]:
df_raw['SeniorCitizen'] = df_raw.apply(lambda x: 'Yes' if x['SeniorCitizen'] == '1' else 'No', axis=1)

In [38]:
# number of columns
print(f'The dataframe contains {df_raw.shape[1]} columns and {df_raw.shape[0]} rows')
# number of categorical columns
print(f'Object format columns are: \n {df_raw.select_dtypes(include=object).columns.tolist()}')
# number of numeric columns
print(f'Numeric format columns are: \n {df_raw.select_dtypes(include=np.number).columns.tolist()}')
# number of nan/null
print(f'The dataframe contains NaN values: \n {df_raw.isnull().count()}')

# MISMA CANTIDAD DE NÚMEROS QUE DE NAN, RAAAARO

The dataframe contains 22 columns and 6032 rows
Object format columns are:
 ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']
Numeric format columns are:
 ['Unnamed: 0', 'tenure', 'MonthlyCharges', 'TotalCharges']
The dataframe contains NaN values:
 Unnamed: 0          6032
customerID          6032
gender              6032
SeniorCitizen       6032
Partner             6032
Dependents          6032
tenure              6032
PhoneService        6032
MultipleLines       6032
InternetService     6032
OnlineSecurity      6032
OnlineBackup        6032
DeviceProtection    6032
TechSupport         6032
StreamingTV         6032
StreamingMovies     6032
Contract            6032
PaperlessBilling    6032
PaymentMethod       6032
MonthlyCharges      6032
TotalCharges        6032
Churn               6032
dtype: int64

In [39]:
df_raw.sample(5)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
4123,4123,8910-LEDAG,Male,Yes,Yes,No,34.0,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,No,Credit card (automatic),71.55,2427.35,No
3388,3388,8498-XXGWA,Female,No,Yes,No,65.0,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,Yes,Mailed check,55.15,3673.15,No
4941,4941,1449-XQEMT,Male,No,No,No,3.0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.80,58.15,Yes
6027,6027,4896-CPRPF,Male,No,Yes,Yes,35.0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),25.45,809.25,No
5105,5105,2995-UPRYS,Female,Yes,Yes,No,40.0,Yes,No,Fiber optic,...,No,Yes,Yes,Yes,One year,Yes,Credit card (automatic),99.20,4062.20,Yes

In [40]:
mask = df_raw.isnull() == True
df_raw[mask]

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df_raw.dropna(axis=0, how='any', inplace= True)
df_raw.isnull().sum()

Unnamed: 0          0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [42]:
mask2 = df_raw.notnull()
df_churn = df_raw[mask2]

In [43]:
df_churn.sample(5)

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
3640,3640,1771-OADNZ,Male,Yes,Yes,No,29.0,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,95.9,2745.20,Yes
4025,4025,2984-MIIZL,Male,No,No,No,4.0,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.8,321.90,Yes
6432,6432,8221-EQDGL,Male,No,Yes,No,35.0,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Mailed check,61.0,2130.45,No
2647,2647,4986-MXSFP,Female,No,No,No,2.0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,20.0,40.90,No
6398,6398,3259-FDWOY,Male,No,Yes,Yes,71.0,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),106.0,7723.70,Yes

In [44]:
df_churn.to_csv('../data/preprocessed/churn_preprocessed.csv')