## AIR QUALITY INDEX
### DATA ANALYSIS

API CONNECTIONS - Nodes:
* Acuario: https://www.airvisual.com/api/v2/node/5f97537a21259e056555554b
* Plaza independencia: https://www.airvisual.com/api/v2/node/5f9753a521259e3d4955554e
* Jard√≠n Maternal: https://www.airvisual.com/api/v2/node/5f97538ed76cd973c9e3cb3a
* Barrio La Favorita: https://www.airvisual.com/api/v2/node/5f97536bd76cd95402e3cb37

<HR/>

In [1]:
# libraries
import requests
import json
import pprint
import pandas as pd

In [203]:

acuario = "https://www.airvisual.com/api/v2/node/5f97537a21259e056555554b"

response = requests.get (acuario)

if response.status_code == 200:
    raw_data =  json.loads(response.text)
else:
    print (f'Error: {response.status_code}')

In [211]:
raw_data.keys()

dict_keys(['historical', 'settings', 'current'])

In [208]:
raw_data['historical'].keys()

dict_keys(['daily', 'hourly', 'monthly', 'instant'])

In [233]:
raw_data['historical']['hourly'][30]

{'p1_sum': 70,
 'p1_count': 1,
 'p2_sum': 8,
 'p2_count': 1,
 'p01_sum': 7,
 'p01_count': 1,
 'tp_sum': 24,
 'tp_count': 1,
 'co_sum': 405,
 'co_count': 1,
 'hm_sum': 33,
 'hm_count': 1,
 'ts': '2023-02-14T14:00:00.000Z',
 'outdoor_station': {}}

In [238]:
acuario_norm_1 = pd.json_normalize(raw_data)

In [249]:
acuario_norm_1

,historical.daily,historical.hourly,historical.monthly,historical.instant,settings.node_name,current.ts,current.tp,current.hm,current.p2,current.p1,current.p01,current.co,current.errors.hcho,current.errors.voc
0,"[{'p1_sum': 54.7, 'p1_count': 1, 'p2_sum': 9.4...","[{'p1_sum': 47, 'p1_count': 1, 'p2_sum': 7, 'p...","[{'p1_sum': 29.2, 'p1_count': 1, 'p2_sum': 7.8...","[{'ts': '2023-02-15T21:48:54.102Z', 'tp': 30.8...",mendoza_acuario,2023-02-15T21:48:54.102Z,30.8,32,11,51,10,417,-205,-202

In [250]:
col_list = acuario_norm_1['historical.daily'].to_dict

<bound method Series.to_dict of 0    [{'p1_sum': 54.7, 'p1_count': 1, 'p2_sum': 9.4...
Name: historical.daily, dtype: object>

In [206]:
acuario_df = pd.DataFrame(acuario_norm_1, columns=['historical.hourly'])
acuario_df

                                   historical.hourly
0  [{'p1_sum': 47, 'p1_count': 1, 'p2_sum': 7, 'p...

<hr/>

# Create a sample DataFrame with a nested dictionary
data = {
'id': [1, 2],
'historical': [
{'date': '2022-02-14', 'price': 10.5},
{'date': '2022-02-15', 'price': 11.0}
]
}
df = pd.DataFrame(data)

# Extract the nested dictionary using json.loads() and json_normalize()
historical_df = pd.json_normalize(json.loads(df.to_json(orient='records')), 'historical', ['id'])

# Print the resulting DataFrame
print(historical_df)

In [ ]:
df = pd.DataFrame(raw_data)

In [178]:
historical_raw = pd.json_normalize(json.loads(df.to_json(orient='records')), 'historical')

In [202]:
historical_df.iloc[30]

p1_sum                             28.0
p1_count                            1.0
p2_sum                              5.0
p2_count                            1.0
p01_sum                             4.0
p01_count                           1.0
tp_sum                             26.0
tp_count                            1.0
co_sum                            393.0
co_count                            1.0
hm_sum                             38.0
hm_count                            1.0
ts             2023-02-15T14:00:00.000Z
tp                                  NaN
hm                                  NaN
p2                                  NaN
p1                                  NaN
p01                                 NaN
co                                  NaN
errors.hcho                         NaN
errors.voc                          NaN
Name: 30, dtype: object